@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e6e6e6;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-open-sans), Arial, Helvetica, sans-serif;
  font-size: 18px;
}
h1, h2 {
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
  color:#ffffff;
  font-weight: extra-bold;
}
h3, .menu-item {
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}
header {
  background: #272727;
  color: #ffffff;
}
aside {
  background: #464646;
  color: #ffffff;
}